---
layout: default
---
#post
  %h1= link_to(page.title, '/')
  %p.subtitle
    Published
    = page.date.strftime("%B %d, %Y at %H:%M %Z")
    in
    = tag_links(page.tags), "."

    -# TextMate edit link. JS sets the link text if a cookie is present: see js/app.js.
    %span#edit= link_to('', "txmt://open?url=file://#{page.path}")
   
  -# Without the squiggly, Haml will indent highlighted code. 
  ~ content
  
  #disqus_thread
  %script{ :type => "text/javascript", :src => "http://disqus.com/forums/henrikn/embed.js" }
  %noscript <a href="http://henrikn.disqus.com/?url=ref">View the discussion thread.</a>
